#size
{
    height:50px;
    width:130px;
}
.navbar-nav
{
    float:right;
    margin-left: 750px;
}
.nav-item
{
    font-size:15px;
    
}
.content
{
    background-color:rgba(249,214,184,0.3);
    height:1050px;;
    width:100%;
}
.form-check-input
{
    display: inline;
}

.form-check-label
{
    display: inline;
}
label
{
    font-family: 'Slabo 27px', serif;
}